<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial - Exercise 12: forms</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <p>
            This exercise introduces concepts from
            <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#expressions-on-selections-asterisk-syntax"
               title="Open Thymeleaf manual" target="_blank">chapter 4 - section 3 of the Using Thymeleaf</a>
            manual.
        </p>
        <ol>
            <li>
                A bean of class 
                <button class="code-dialog-button" type="button"
                   onclick="CODE_DIALOG.show('code/Customer.java')"
                   >Customer</button>
                has been set into the context model with variable name <b>customer</b>.
                This is a complex bean, containing properties of the
                <button class="code-dialog-button" type="button"
                   onclick="CODE_DIALOG.show('code/Gender.java')"
                   >Gender</button> and
                <button class="code-dialog-button" type="button"
                   onclick="CODE_DIALOG.show('code/PaymentMethod.java')"
                   >PaymentMethod</button>
                enum types.
            </li>
            <li>
                Edit the source code  in order to bind bean fields into form fields.
                You have to use <code>th:object</code> and <code>th:field</code> attributes. <br />
                As this exercise is more complex than previous ones, some hints have been written 
                as HTML comments inside the template.
            </li>
            <li>
                After trying a solution, look a the <em>Generated source</em> to see how field elements are populated.
                In particular, see the input hidden element for the 'id' field.
            </li>
            <li>
                You can finally press the 'Submit' button to see how the form values are sent to the server.
            </li>
            <li>
                You can check the proposed solution by pressing the <b>Show solution</b> button
                (<img src="../../../images/lightbulb.png" th:src="@{/images/lightbulb.png}" alt=""/>) above the code editor.
            </li>
        </ol>
    </body>
</html>
