<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial - Exercise 10: Spring expression language</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <p>
            This exercise introduces concepts from
            <a href="https://docs.spring.io/spring/docs/4.3.x/spring-framework-reference/html/expressions.html"
               target="_blank" rel="noopener noreferrer">Spring expression language</a>
        </p>
        <ol>
            <li>
                Edit the source code using Spring Expression Language to fill in the four required values.
            </li>
            <li>
                You can check the proposed solution by pressing the <b>Show solution</b> button
                (<img src="../../../images/lightbulb.png" th:src="@{/images/lightbulb.png}" alt=""/>) above the code editor.
            </li>
        </ol>
    </body>
</html>
