<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial - Exercise 19: conditional th:remove</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <p>
            This exercise introduces concepts from
            <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#removing-template-fragments"
               target="_blank">chapter 8 - section 4 of the Using Thymeleaf</a>
            manual.
        </p>
        <ol>
            <li>
                You have a context variable called <b>customerList</b> containing a <code>List</code> of
                <button class="code-dialog-button" type="button"
                        onclick="CODE_DIALOG.show('code/Customer.java')">Customer</button> objects.
            </li>
            <li>
                The Customer class has a field called <b>personalWebsite</b> which contains the customer
                personal website URL, or null if the customer does not have a personal website.
            </li>
            <li>
                Use the new conditional <code>th:remove</code> to add a link to the customer personal website
                in the displayed first names and last names if the customer has a website. If the customer
                does not have a website, simply print their first and last names.
            </li>
            <li>
                You can check the proposed solution by pressing the <b>Show solution</b> button
                (<img src="../../../images/lightbulb.png" th:src="@{/images/lightbulb.png}" alt=""/>) above the code editor.
            </li>
        </ol>
    </body>
</html>
