<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial - Exercise 6: iteration</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <p>
            This exercise introduces concepts from
            <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#iteration"
               target="_blank">chapter 6 of the Using Thymeleaf</a>
            manual.
        </p>
        <ol>
            <li>
                Edit the source code in order to show a list of products as table rows.
				A <code>List</code> of objects of class
                <button class="code-dialog-button" type="button"
                   onclick="CODE_DIALOG.show('code/Product.java')"
                   >Product</button>
				has been already set into the context model with variable name <b>productList</b>.
            </li>
            <li>
                You can check the proposed solution by pressing the <b>Show solution</b> button
                (<img src="../../../images/lightbulb.png" th:src="@{/images/lightbulb.png}" alt=""/>) above the code editor.
            </li>
        </ol>
    </body>
</html>
