<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial - Exercise 5: escaped and unescaped text</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <p>
            This exercise introduces concepts from
            <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#more-on-texts-and-variables"
               target="_blank">chapter 3 - section 2 of the Using Thymeleaf</a>
            manual.
        </p>
        <ol>
            <li>
                A fragment of HTML code has been set into the context model as a <code>String</code> with variable name <b>html</b>.
                You must show it HTML-escaped in the first <code>div</code> and unescaped in the second <code>div</code>.
            </li>
            <li>
                You can check the proposed solution by pressing the <b>Show solution</b> button
                (<img src="../../../images/lightbulb.png" th:src="@{/images/lightbulb.png}" alt="" />) above the code editor.
            </li>
        </ol>
    </body>
</html>
