<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial - Exercise 20: conversion service</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <p>
            This exercise introduces concepts from
            <a href="https://www.thymeleaf.org/doc/tutorials/3.0/thymeleafspring.html#the-conversion-service"
               target="_blank">chapter 9 of the Thymeleaf + Spring</a>
            tutorial.
        </p>
        <ol>
            <li>
                Two beans, <b>releaseDate</b> of type
                <code>java.sql.TimeStamp</code> and <b>price</b> of type
                <button class="code-dialog-button" type="button"
                   onclick="CODE_DIALOG.show('code/Amount.java')"
                   title="See Amount.java source code">Amount</button>
                have been set into the context.
            </li>
            <li>
                Formatters for these types have also been registered using the Spring Conversion Service.
            </li>
            <li>
                Use the new <code>${{..}}</code> syntax to format these beans using the Conversion Service.
            </li>
            <li>
                You can check the proposed solution by pressing the <b>Show solution</b> button
                (<img src="../../../images/lightbulb.png" th:src="@{/images/lightbulb.png}" alt=""/>) above the code editor.
            </li>
        </ol>
    </body>
</html>
